# Dependencies
node_modules/

# Build output
.next/
out/

# Environment variables
.env*
!.env.example

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional: OS metadata
*.swp
*.swo
*.bak

# Zone Identifier metadata (Windows)
*.Zone.Identifier
